h1,h2,h3,h4 {
    text-align: left;
}

/* COURSES TOP CONTAINER */
.coursesTop {
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 60%;
    padding: 2% 0% 2% 0%;
    gap: 3em;
}

.coursesText {
    flex: 1;
    align-self: flex-start;
    min-width: 20em;
}

/* SIGNUP FORM CONTAINER */
#SignUpCourse {
    flex: 1;
    align-self: flex-end;
    height: auto;
    width: auto;
    border-radius: 1.5em;
    padding: 2em 3em 3em 2em;
    background-color: var(--peach);
    margin-bottom: 1.5em;
}

/* SINGUP FORM INPUT FIELDS */
#personalia {
    letter-spacing: 0.1em;
    border: 0em solid;
    border-radius: 30em;
    min-width: 98%;
    padding: 3%;
    margin: 1% 0 8% 0;
}

/* INPUT FIELD NAME */
#peronaliaType {
    margin-left: 1em;
    color: var(--text);
    letter-spacing: 0.1em;
}

/* COURSE TYPE CONTAINERS */
.courseType {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue);
    padding: 2em 3em 2em 3em;
    gap: 2em;
    border-radius: 1.5em;
    margin-bottom: 2em;
    color: var(--text);
}

/* FOR TABLETS AND SMALL SCREENS */
@media only screen and (max-width: 1072px){
    .coursesTop {justify-content: center;}
    .coursesText {text-align: center;}
    h1,h2,h3,h4 {text-align: center;}
    #signUpCourse {padding: 2em; margin: auto;}
    .courseType {width: auto; margin: 0em 2em 2em 2em;}

}

/* FOR MOBILE DEVICES */
@media only screen and (max-width: 835px){
}