* {
    font-family: 'Roboto', sans-serif;
}

.screen-lg {
    max-width: 85vw;
    margin: auto;
    padding: 0em;
}

.w-screen-lg {
    width: 85vw;
    max-width: 1000px;
    padding: 0em;
    margin: auto;
}

.statusbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
} 

@media only screen and (max-width: 900px) {
    .statusbar {
        grid-template-rows: 1fr;
    }
}

.relative {
    position: relative;
}

/*Counter in market.js*/
#counter {
    align-self: center;
    color: var(--green);
    bottom: -30px;
    right: 50%;
    text-align: center;
    font-size: 4em;
    font-weight: 800;
    margin: auto 0em auto 6.5em;
    /*text-shadow: 2px 2px 8px #D5754D; */
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#info-box {
    position: absolute;
    background-color: white;
    padding: 17px;
    font-size: 1.4vw;
    font-weight: 350;
    width: 12vw;
    border-radius: 8px;
    box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.3);
    right: -10px;
    top: 0px;
    color: black;
}

#toTestMarket {
    display: none;
    margin-left: 10em;
}

#gameInstructions {
    background-color: #D5754D ;
    color: #ffede0;
    font-weight: 800;
    font-size: 3vw;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 45px;
    height: 4vw;
    width: 4vw;
    box-shadow: 1px 1px rgb(148, 148, 148);
    right: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
#instruction {
    padding: 0em;
    margin: 0em;
}



