/* ALL */
body {
    display: flex;
    flex-direction: column;

    background-color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;

    margin: 0em;
    padding: 0em;
}

/* COLORS */
:root {
    --yellow: #F1D09D;
    --peach: #D5754D;
    --red: #9F3B00;
    --dark: #341E11;
    --text: #F9F3E9;
    --babyBlue: #E3F1F4;
    --lightPeach: #FFEDE0;
    --Peach2: #FADECB;
    --Peach3: #F0BA95;
    --peachShadow: #ca6a41;
    --shadow: #03030334;
    --lightShadow: #f0e3d3;
    --green: #799466;
    --greenShadow: #6d855c;
    --blue: #417A9A;
}

/* BODY TEXT */
p {
    font-weight: 500;
    line-height: 2em;
    margin: 0em 0em 1em 0em;
}

/* PICTURES */
img {
    margin: 0em;
    padding: 0em;
}

/* MAIN CONTAINER */
main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0% 2% 0%;
}

/* NAVBAR CONTAINER 
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 3% 1% 1%;

    font-size: 0.95em;
    font-weight: 600;
    letter-spacing: 0.175em;
}
*/

/* NAVBAR
header ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
*/

/* LOGO */
.Logo {
    flex: 1;
}

/* TITLES */
h1,h2,h3,h4,h5 {
  	font-family: "Montserrat", Helvetica, sans-serif;
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.1em;
    margin: 0em 0em 0.2em 0em;
}

/* MAIN HEADINGS */
h1 {
    font-size: 3.25em;
    color: var(--green);
}

/* SECONDARY HEADINGS */
h2 {
    font-size: 1.75em;
    color: var(--red);
}

/* TERTIARY HEADINGS */
h3 {
    font-size: 1.2em;
    color: var(--text);
}

/* QUATERNARY HEADINGS */
h4 {
    font-size: 1.05em;
    color: var(--text);
}

/* ACCENTED BODY TEXT */
h5 {
    font-size: 1em;
    font-weight: 500;
    color: var(--dark);
}

/* LINKS */
a {
    text-decoration: none;
    color: black;
    line-height: 2em;
}

/* LINK HOVERING */
a:hover, a:active {
    color: var(--red);
}

/* ROUND BUTTON */
#roundButton {
    cursor: pointer; 
    background-color: var(--Peach2);
    border: 0px solid;
    border-radius: 2em;
    box-shadow: -0.15em -0.4em var(--Peach3) inset;

    color: var(--peach);
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    letter-spacing: 0.2em;

    padding: 1em 5.5em 1em 5.5em;
}

#roundButton:hover {
    box-shadow: -0.15em -0.4em var(--Peach2) inset;
    }

/* SQUARE BUTTON */
.squareButton {
    cursor:pointer; 
    background-color: var(--text);
    border: 0em solid;
    border-radius: 0.6em;

    color: var(--dark);
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.2em;

    padding: 0.9em 2.5em 0.9em 3em;
}

.squareButton:hover {
    box-shadow: -0.25em -0.4em var(--lightShadow) inset;
}

/* TEST-PAGE RELATED BUTTONS */
#checkButton, #backAbout, #backCourses, #toTestMarket {
    background-color: var(--peach);
    color: var(--text);
}

#testMarketButton, #testKitchenButton {
    background-color: var(--green);
    color: var(--text);
}

#checkButton:hover,#backAbout:hover, #backCourses:hover, #toTestMarket:hover {
    box-shadow: -0.25em -0.4em var(--peachShadow) inset;
}

#testMarketButton:hover, #testKitchenButton:hover {
    box-shadow: -0.25em -0.4em var(--greenShadow) inset;
}





/*HEADER & NAVBAR*/


/* NAVBAR ADDS */
li {
    list-style-type: none;
    align-items: center;
}

body.hidden-scrolling{
	overflow-y: hidden;
}

*{
	margin:0;
	box-sizing: border-box;
}

ul{
	list-style: none;
	margin:0;
	padding:0;
}


/*NEW NAVBAR*/
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 15px;
}
.mainHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
    letter-spacing: 1.2px; 
}
/*navbar*/
.header .navbar > .menuElement{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}


/*element in navbar*/
.header .navbar > .menuElement > a{
	display: block;
	font-size: 16px;
	color: var(--dark);
}
/*hover over element in navbar*/
.header .navbar > .menuElement:hover > a{
	color: var(--red);
    font-weight: bold;
}



/*dropdown*/
.header .navbar > .menuElement > .dropdownList{
	width: 110px;	
	position: absolute;
	left: 0; /*align with navbar element*/
	top:100%;
	background-color: var(--peach);
	opacity:0;
	visibility: hidden; /*hidden unless hover on respective menu element.*/
}
/*hover over element in dropdown list*/
.header .navbar > .menuElement > .dropdownList > .menuElement > a:hover{
	background-color: var(--red);
	font-weight: bold;
	color: var(--yellow);
}


.header .navbar > .menuElement > .dropdownList > .menuElement{
	display: block;
}

.header .navbar > .menuElement > .dropdownList > .menuElement > a{
	display: block;
    color: var(--yellow);
	padding: 5px 10px 5px 10px;
}


.header .openMenu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}



/*hide navbar when burger is there*/
.header .navbarOverlay{
	position: fixed;
	z-index: 999;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
}

/*burger icon*/
.header .openMenu span{
	display: block;
	height: 3px;
	width: 26px;
	background-color: var(--dark);
    position: relative;}
.header .openMenu span:before,
.header .openMenu span:after{
	content: '';
	position: absolute;
	background-color: var(--dark);
	left:0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;}
.header .openMenu span:before{
	top:-7px;}
.header .openMenu span:after{
	top:7px;}

/*close-cross in burger menu*/
.header .closeMenu{
	height: 40px;
	width: 40px;
	margin:0 0 15px 15px;
	display: none;
	align-items: center;
	justify-content: center;
}



/*for normal (big) screens*/
@media(min-width: 785px){
.header .navbar > .dropdown:hover > .dropdownList{
	opacity: 1;
	visibility: visible;
 }
}

/* for small screens */
@media(max-width: 785px){  /*785px  instead of 600px so that changed to burger instead of second line with navbar content*/
	
	.header .navbarOverlay.active{ /*show sidebar(burger)*/
	visibility: visible;
	opacity: 1;
}
	.header .menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
	    background-color: var(--peach);
		z-index: 1000;
		padding: 15px 0;
	}

	.header .menu.open{
		visibility: visible;
		right: 0px;  /*rightside menu*/
	}
	
	.header .navbar > .menuElement{ /*arrange elements*/
		display: block;
		margin:0;
	}

	.header .navbar > .dropdown > a{
		display: flex;
		justify-content: space-between;
		align-items: left;
	}

	.header .navbar > .menuElement > a{ /*list of elements inside burger menu*/
		color: var(--yellow);
		padding: 10px;
	}

	/*dropdown inside burgerstylemenu*/
	.header .navbar > .menuElement > .dropdownList{
		position: relative;
		opacity: 1; /*if not text invisible*/
		visibility: visible;
		max-height: 0;
		overflow: hidden; /*hide dropdown-content when not clicked*/
	}

	.header .navbar > .menuElement > .dropdownList > .menuElement > a{
		color:var(--yellow);		
	}

	.header .closeMenu,	.header .openMenu{
		display: flex;
	}
}





/* FOOTER */
footer {
    align-self: flex-end;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5%;
    padding: 2% 2% 0.5% 2%;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.socialMedia {
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 10em;
    justify-content: space-between;
}

.pageLinks {
    display: flex;
    flex-direction: column;
    text-align: right;
}

/* CONTACT INFO */
#contactUs {
    color: var(--text);
    width: 22em;
}

/* CONTACT FORM INPUT FIELDS */
.contactDetails {
    border: 0em solid;
    border-radius: 1em;
    padding: 1.05em;
    margin: 0.5em;
}

/* SIGNUP COMPLETE / MESSAGE SENT CONTAINER */
.popUpWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    padding-bottom: 5%;
}

/* SINGUP FORM INPUT FIELDS */
#personalia {
    letter-spacing: 0.1em;
    border: 0em solid;
    border-radius: 30em;
    min-width: 98%;
    padding: 3%;
    margin: 1% 0 8% 0;
}

/* PRACTICE TITLE */
.arenaTitle {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0em;
    padding: 0em;
}

/* FOR TABLETS AND SMALL SCREENS */
@media only screen and (max-width: 1035px){
}

/* FOR MOBILE DEVICES */
@media only screen and (max-width: 835px){
    header ul {flex-direction: column; flex:0; text-align: right; margin-bottom:0em;}
    footer {margin-top: 7.5em;}
}
