/* ALL */
body {
    display: flex;
    flex-direction: column;

    background-color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    margin: 0;
    padding: 0;
}

/* COLORS */
:root {
    --yellow: #F1D09D;
    --peach: #D5754D;
    --red: #9F3B00;
    --dark: #341E11;
    --text: #F9F3E9;
    --babyBlue: #E3F1F4;
    --lightPeach: #FFEDE0;
    --Peach2: #FADECB;
    --Peach3: #F0BA95;
    --peachShadow: #CC6C43;
    --shadow: #03030334;
    --lightShadow: #ede4d5;
    --green: #799466;
    --greenShadow: #688057;
    --blue: #417A9A;
}

/* BODY TEXT */
p {
    font-weight: 500;
    line-height: 28px;
}

/* MAIN CONTAINER */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* OLD NAVBAR CONTAINER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

/* NAVBAR */
header ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Logo {
    flex: 1;
}

/* NAVBAR OPTIONS */
li {
    list-style-type: none;
}

/* TITLES */
h1,h2,h3,h4,h5 {
  	font-family: "Montserrat", Helvetica, sans-serif;
    text-align: center;
    font-weight: 800;
    letter-spacing: 4px;
}

/* MAIN HEADINGS */
h1 {
    font-size: 50px;
    color: var(--green);
}

/* SECONDARY HEADINGS */
h2 {
    font-size: 24px;
    color: var(--red);
}

/* TERTIARY HEADINGS */
h3 {
    font-size: 16px;
    color: var(--text);
}

/* QUATERNARY HEADINGS */
h4 {
    font-size: 15px;
    color: var(--text);
}

/* BY HEADINGS */
h5 {
    font-size: 12px;
    font-weight: 500;
    color: var(--dark);
}

/* IMAGES */
img {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

/* LINKS */
a {
    text-decoration: none;
    color: black;
    line-height: 28px;
}

a:hover, a:active {
    color: var(--red);
}

/* ROUND BUTTON */
#roundButton {
    cursor:pointer; 
    background-color: var(--Peach2);
    border: 0px solid;
    border-radius: 30px;
    box-shadow: -3px -7px var(--Peach3) inset;

    color: var(--peach);
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;

    margin: 25px;
    padding: 15px 100px 15px 100px;
}

#roundButton:hover {
        box-shadow: 4px 4px 2px var(--shadow);
    }

/* SQUARE BUTTON */
.squareButton {
    cursor:pointer; 
    background-color: var(--text);
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #03030334;

    color: var(--dark);
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;

    margin: 10px;
    padding: 15px 50px 15px 50px;
}

.squareButton:hover {
    box-shadow: -3px -7px var(--lightShadow) inset;
}

#checkButton, #backAbout, #backCourses, #toTestMarket {
    background-color: var(--peach);
    color: var(--text);
}


#checkButton:hover,#backAbout:hover, #backCourses:hover, #toTestMarket:hover {
    box-shadow: -3px -7px var(--peachShadow) inset;
}

#testMarketButton, #testKitchenButton {
    background-color: var(--green);
    color: var(--text);
}

#testMarketButton:hover, #testKitchenButton:hover {
    box-shadow: -3px -7px var(--greenShadow) inset;
}

/* FOOTER */
footer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
}

.socialMedia {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 150px;
    justify-content: space-between;
}

.pageLinks {
    display: flex;
    flex-direction: column;
    text-align: right;
}

/* SCALING */
@media only screen and (max-width: 600px) {
    header ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    }
}

/* HOME TOP CONTAINER */
.homeTop {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.homeText {
    width: 30%;
}

#startLearning {
    margin: 0px;
    padding: 0px;
}

/* HOME BOTTOM CONTAINER */
.homeBottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--peach);
    width: 100%;
    height: 100%;
    padding: 50px;
}

#selectLanguage {
    height: 75px;
    vertical-align: middle;
    text-decoration: underline;
}

.flagSelection {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}

/* ABOUT TOP CONTAINER */
.aboutTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutText {
    width: 50%;
}

/* ABOUT BOTTOM CONTAINER */
.aboutBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 5%;
    width: 90%;
    gap: 5%;
    background-color: var(--peach);
}

#contactUs {
    color: var(--text);
}

#contactInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Info {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

/* CONTACT FORM INFILL */
#contactDetails {
    border: 0px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 7.5px;
}

/* SIGNUP COMPLETE / MESSAGE SENT CONTAINER */
.popUpWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

/* COURSES TOP CONTAINER */
.coursesTop {
    letter-spacing: 0.05em;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    padding-top: 75px;
}

.coursesText {
    width: 30%;
}

/* COURSES FORM INFILL */
#personalia {
    letter-spacing: 0.1em;
    border: 0px solid;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    margin: 3px 0px 25px 0px;
}

#peronaliaTag {
    margin-left: 15px;
    color: var(--text);
    letter-spacing: 0.1em;
}

/* COURSES FORM CONTAINER */
#SignUpCourse {
    height: 550px;
    width: 280px;
    border-radius: 20px;
    padding: 15px 60px 25px 30px;
    background-color: var(--peach);
    margin-bottom: 100px;
}

/* COURSE TYPE CONTAINERS */
.courseType {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    padding: 20px 150px 20px 150px;
    margin-bottom: 30px;
    border-radius: 20px;
    color: var(--text);
}

.arenaTitle {
    width: 60%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.selectArena {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.arenaSelect {
    flex: 1;
    flex-direction: column;
    align-items: center;
}


/* Kode i testHome Ragna*/
.arenaActive {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--babyBlue);
    padding: 20px 150px 20px 150px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.arenaActive h2 {
    color: var(--dark);
}

.arenaInactive {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--lightPeach);
    padding: 20px 150px 20px 150px;
    margin-bottom: 30px;
    border-radius: 20px;
}

/* Kode i testMarket Ragna, rakk ikke se på det, men må få sirklene til å ligge på rekke */

#circle-list {
    width: 20%;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 0px;
}
.circle{
    width:20px;
}

#marketInput {
    border: 0px solid;
    border-radius: 10px;
    padding: 15px;
    margin: 7.5px;
}

#carouselList{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid blue;
}

#previous {
    max-width: 50%;
    border: 1px solid red;
    background-color: var(--babyBlue);
    padding: 5%;
    border-radius: 20px;
}

#next {
    max-width: 50%;
    border: 1px solid black;
    background-color: var(--babyBlue);
    padding: 5%;
    border-radius: 20px;
}

#current {
    max-width: 100%;
    border: 1px solid green;
    background-color: var(--lightPeach);
    padding: 5%;
    border-radius: 20px;
}